<div class="row">
  <div class="col-md-8">
    <nb-card>
        <nb-card-header>
            Brand
        </nb-card-header>
      <nb-card-body>
        <div class="row">
            <div class="col-md-12">
              <form #f="ngForm" (ngSubmit)="save(f.value)">
                  <div class="form-group">
                      <label for="BrandTitle">Title</label>
                    <input #BrandTitle="ngModel" [(ngModel)]="b.BrandTitle" name="BrandTitle" id="BrandTitle" type="text" class="form-control" required>
                    <div class="alert alert-danger" *ngIf="BrandTitle.touched && BrandTitle.invalid">
                      Brand title is required.
                    </div>
                  </div>        
                  
                  <div class="row">
                      <div class="col-4">
                          <div class="form-group">
                              <label for="isActive">Active</label>
                              <select #isActive="ngModel" [(ngModel)]="b.isActive" name="isActive" id="isActive" class="form-control" required>
                                <option value=""></option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                              </select>
                              <div class="alert alert-danger" *ngIf="isActive.touched && isActive.invalid">
                                Active is required.
                              </div>
                          </div>        
                      </div>
                  </div>

                  <button type="button" (click)="back()" id="back" class="btn btn-primary">Back</button> 
                  <span>-</span>
                  <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Save</button>
                  <span>-</span>
                  <button type="button" (click)="delete()" id="delete" class="btn btn-danger">Delete</button> 
                </form>    
                
            </div>
          </div>
      </nb-card-body>
    </nb-card>
</div>
</div>