<form #f="ngForm" (ngSubmit)="updateSO(f.value)">
<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>
          Sales Order Number: {{ salesorderid }}
          <button (click)="backtoSO()" type="button" id="backtoSO" class="btn btn-primary">back</button> 
      </nb-card-header>
      </nb-card>
    </div>
  </div>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        Select Customer
        <!-- <button type="button" class="btn btn-primary btn-tn">Create Customer</button> -->
      </nb-card-header>
        <nb-card-body>
          <div class="input-group">
            <input type="text" placeholder="Search customer" class="form-control"/>
          </div>
          <div class="form-group">
            <label>List of customer</label>
            <select #customer="ngModel" [(ngModel)]="soHeader.Customer" (change)="onselectedcustomer(customer.value)" name="customer" id="customer" multiple class="form-control" >
                <option value=""></option>
                <option *ngFor="let c of customer$" [value]="c.CustomerID">
                  {{ c.CompanyName }}
                </option>
            </select>
          </div>
        </nb-card-body>
    </nb-card>
  </div>  
  <div class="col-lg-6">
      <nb-card>
          <nb-card-header>
            Customer Info
            <!-- <button type="button" class="btn btn-primary btn-tn">Save </button> -->
          </nb-card-header>
          <nb-card-body>
            <div class="input-group">
              <input #company="ngModel" [(ngModel)]="customerinfo.CompanyName" name="company" id="company" type="text" placeholder="Company" class="form-control"/>
            </div>
            <div class="row full-name-inputs">
              <div class="col-sm-6 input-group">
                <input #person="ngModel" [(ngModel)]="customerinfo.ContactName" name="person" id="person" type="text" placeholder="Contact Person" class="form-control"/>
              </div>
              <div class="col-sm-6 input-group">
                <input #terms="ngModel" [(ngModel)]="customerinfo.Terms" name="terms" id="terms" type="number" placeholder="Terms" class="form-control"/>
              </div>
            </div>
            <div class="input-group input-group-sm">
                <input type="text" placeholder="Address" class="form-control"/>
              </div>
              <div class="input-group input-group-sm">
                  <input #phone="ngModel" [(ngModel)]="customerinfo.Phone" name="phone" id="phone" type="text" placeholder="Contact Number" class="form-control"/>
                </div>
          </nb-card-body>
        </nb-card>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
              Sales Order Info
              <button [disabled]="!f.valid" type="submit" id="updateso" class="btn btn-primary">update sales order</button>
            </nb-card-header>
            <nb-card-body>
              <div class="col-sm-12 input-group">
                <textarea #comment="ngModel" [(ngModel)]="soHeader.Comment" rows="5" name="comment" id="comment" type="text" placeholder="Comment" class="form-control"></textarea>
              </div>
              <div class="col-sm-6 input-group">
                  <select #Flag="ngModel" [(ngModel)]="soHeader.OnlineOrderFlag" name="Flag" id="Flag" aria-placeholder="Order flag" class="form-control" required>
                    <option value=""></option>
                    <option>Call</option>
                    <option>Walk In</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="Flag.touched && Flag.invalid">
                    Order Flag is required.
                  </div>
              </div>        
            </nb-card-body>
          </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Product selection</nb-card-header>
        <nb-card-body>
            <!-- <ngx-select-product></ngx-select-product> -->
            <ngx-select-product-v2 [soid]="salesorderid"></ngx-select-product-v2>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>Orders</nb-card-header>
        <nb-card-body>
          <ngx-order-detail-v2 [soid]="salesorderid"></ngx-order-detail-v2>
        </nb-card-body>
      </nb-card>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
  <nb-card>
    <nb-card-body>
      <button type="button" class="btn btn-primary btn-tn">Complete & Print Order</button>    
      <span>-</span>
      <button type="button" (click)="print(salesorderid)" class="btn btn-primary btn-tn">Print Preview</button>    
    </nb-card-body>
  </nb-card>
  </div>
</div>
</form>