<nb-card>
    <nb-card-header>
      <div style="height:80px">
        <button (click)="backtoSO(orderHeader.SalesOrderID)" id="backtoSO" class="btn btn-primary">Back to SO</button> 
        <button class="print"  (click)="print('printSectionId')" class="btn btn-primary">Print</button>
      </div>
</nb-card-header>

<nb-card-body>
<div class="row" print-section id="printSectionId">
  <table style="width:850px;">
      <tr>
          <td style="vertical-align:top">
      <p>
                   Date:{{ orderHeader.OrderDate | date }}&nbsp;
                  <br>Terms:{{ customerinfo.Terms }} Days&nbsp;
                  <br>P.O. No.&nbsp;
        <br>
        <br><b>SALES ORDER:</b> <b> {{ orderHeader.SalesOrderID}}</b>
        <br>
        <br><b>Customer: </b> <b>{{ customerinfo.CompanyName }}</b>
        <br>Business Style: <b>Distribution</b>
        <br>TIN: <b>000-000-000-00</b>
        <br>Contact No.: <b>{{ customerinfo.Phone }}</b>
        <br>Sales Rep: <b></b>
      </p>
    </td>
          <td colspan="2" style="width:400px; vertical-align:top" class="txtright">
              <p><b>MIDAS MEAT AND COMMODITIES CORP.</b>
                  <br>20 Capricorn St., cor. Libra St.,&nbsp;
                  <br>Carmel 5 Tandang Sora, Quezon City&nbsp;
                  <br>Tel (632)461-7651 Globe (63)0917-501-5530&nbsp;
          <br>Sun (63)0922-829-2683 Smart (63)0906-839-9202&nbsp;
                  <br>midasmeatandcommodities@yahoo.com&nbsp;
        <br>VAT Reg. TIN:008-107-922-000&nbsp;
                  <br>
              </p>
     </td>
      </tr>
  <tr>
    <td  colspan="6">
            <table  class="orders" style="height:710px; width:850px;" >
                    <tr style="height: 1px; line-height: 1px;">
                        <!-- total width: 850-->
                        <td style="width:10%;" ></td>
                        <td style="width:10%;" ></td>
                        <!-- <td colspan="4" style="width:46%;" ></td> -->
                        <td style="width:16%;" ></td>
                        <td style="width:16%;" ></td>
                        <td style="width:1%;" ></td>
                        <td style="width:13%;" ></td>

                        <td style="width:16%;" ></td>
                        <td style="width:1%;"></td>
                        <td style="width:16%;" ></td> 
                        <td style="width:1%;"></td>
                    </tr>
                    <tr class="fixheight">
                        <!-- total width: 100-->
                        <td class="bordered txtcenter"><b>QTY</b></td>
                        <td class="bordered txtcenter"><b>UNIT</b></td>
                        <td colspan="4" class="bordered txtcenter"><b>ARTICLES</b></td>
                        <td colspan="2" class="bordered txtcenter"><b>UNIT PRICE</b></td>
                        <td colspan="2" class="bordered txtcenter"><b>AMOUNT</b></td> 
                    </tr>
                    <tr *ngFor="let o of order" class="fixheight" >
                        <td class="txtcenter">{{ o.Quantity }}</td>
                        <td class="txtcenter">{{ o.UOM }}</td>
                        <td colspan="4" class="txtcenter">{{ o.ProductTitle }} {{ o.Article }}</td>
                        <td class="txtright" >P {{ o.UnitPrice |  number:'1.2' }}</td>
                        <td></td>
                        <td class="txtright">P {{ o.TotalAmount |  number:'1.2' }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <!-- <p>*** *** *** *** *** *class="bottomborder"**      Page( 1 of 1 )      *** *** *** *** *** ***</p> -->
                        <td colspan="10" class="bottomborder"></td> 
                    </tr>
                    <tr class="fixheight">
                        <td colspan="2"></td>
                        <td class="txtright"><b>Zero Rated Sales :</b></td>
                        <td class="txtright"><b>P 0.00</b></td>  <!-- {{ orderHeader.SubTotal |  number:'1.2' }} -->
                        <td></td>
                        <td colspan="3" class="txtright"><b>Total Sales(VAT Inclusive) :</b></td>
                        <td class="txtright"><b>P {{ orderHeader.SubTotal |  number:'1.2' }}</b></td>
                        <td></td>
                    </tr>
                    <tr class="fixheight">
                        <td colspan="5"></td>
                        <td colspan="3" class="txtright"><b>Add Vat :</b></td>
                        <td class="txtright"><b>P {{ orderHeader.TaxAmt |  number:'1.2' }}</b></td>
                        <td></td>
                    </tr>
                    <tr class="fixheight">
                        <td colspan="5" class="bottomborder"></td>
                        <td colspan="3" class="txtright bottomborder"><b>TOTAL AMOUNT DUE :</b></td>
                        <td class="txtright bottomborder"><b>P {{ orderHeader.TotalDue |  number:'1.2' }}</b></td>
                        <td class="bottomborder"></td>
                    </tr>
            </table>
          </td> 
      </tr>
  <tr>
          <td style="height:20px"></td>
          <td colspan="2"></td>
  </tr>
  <tr class="fixheight">
    <td style="width:283px" class="txtcenter">Prepared by:</td>
    <td style="width:283px" class="txtcenter">Assembled by:</td>
    <td style="width:283px" class="txtcenter">Checked by:</td>
  </tr>
  <tr>
          <td style="height:60px"></td>
          <td colspan="2"></td>
  </tr>
  <tr class="fixheight">
    <td class="topborder txtcenter">(Printed Name & Signature):</td>
    <td class="topborder txtcenter">(Printed Name & Signature):</td>
    <td class="topborder txtcenter">(Printed Name & Signature):</td>
  </tr>
  <tr>
          <td style="height:30px"></td>
          <td colspan="2"></td>
  </tr>
  <tr class="fixheight">
    <td colspan="2"></td>
    <td class="txtcenter"><b>Received in Good Order & Condition by</b>
  </tr>
  <tr>
          <td style="height:60px"></td>
          <td colspan="2"></td>
  </tr>
  <tr>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td class="topborder txtcenter fixheight">(Printed Name & Signature) / Date</td>
  </tr>
  </table>
</div>
</nb-card-body>
</nb-card>